{
  "semi": false,
  "singleQuote": true,
  "printWidth": 110,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./packages/tailwind-config/theme.css"
}
